* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #0d0d0d;
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:
        radial-gradient(circle at top left, #6a0dad55, transparent 40%),
        radial-gradient(circle at bottom right, #a855f755, transparent 40%),
        #0d0d0d;
}
.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
    color: #ccc;
    margin-bottom: 40px;
}

.btn {
    background: #a855f7;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

/* SECCIONES */
section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #6a0dad;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #111;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}